.chatBox{
	border: 4px double black;
	width: 650px;
	height: 500px;
}


.status{
	margin: 0 auto;
	overflow-y: auto;
	height:400px;

}

.ChatTextField{
	width: 99%;
}

.leftMessage{
	background-color: #0D8800;
	color: white;
}

.rightMessage{
	margin-left: 70%;
	background-color: #133AAC;
	color: white;
}

.messageBlock{
	border-radius: 25px;
	text-align: center;
	width: 30%;
	margin-bottom: 15px;
}

.systemMessage{
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}

.headerChatName{
	display: table-cell;
}

.deleteChatBlockButton{
	display: table-cell;
	float: right;
}

.header{
	display: table;
    width: 100%;
    height: 15%;
}

::-webkit-scrollbar {
    background: white; 
}