#status{
	margin: 0 auto;
	width: 700px;
	height: 500px;
	overflow-y: auto;

}


#ChatForm{
	position: fixed; 
	top: 80%; 
	left: 25%;
}

#ChatTextField{
	width: 700px;
}

.leftMessage{
	background-color: #0D8800;
	color: white;
}

.rightMessage{
	margin-left: 70%;
	background-color: #133AAC;
	color: white;
}

.messageBlock{
	border-radius: 25px;
	text-align: center;
	width: 30%;
	margin-bottom: 15px;
}

.systemMessage{
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}

::-webkit-scrollbar {
    background: white; 
}